.header {
  height: 64px;
  background: #000;
  color: white;
  padding: 0 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
}

.header > nav {
  display: flex;
  gap: 21px;
}

.header > nav > a {
  color: rgba(255, 255, 255, 0.6);
}

.active {
  text-decoration: underline;
  color: rgba(255, 255, 255, 1) !important;
}
