@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:ital@0;1&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 24px;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  transition-duration: 0.3s;
}

p {
  color: rgb(83, 83, 83);
  padding: 9px;
}

section {
  margin-bottom: 45px;
}

main {
  display: flex;
  flex-direction: row;
}

.left-side {
  position: fixed;
  margin: 24px;
}

.side-table {
  height: fit-content;
  padding: 12px 12px 12px 24px;
  border: 2px solid black;
  border-radius: 18px;
}

.side-table-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.stars-rating {
  display: flex;
  flex-direction: row;
}

.blog-body {
  max-width: 713px;
  width: auto;
  margin: auto;
}

.author-section {
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
}

.author-section > span,
.author-section > i {
  color: rgb(83, 83, 83);
}

.ppf {
  width: 50px;
  height: 50px;
  border-radius: 999px;
}

.img-style {
  display: block;
  max-width: 600px;
  width: 100%;
  margin: auto;
  border-radius: 36px;
}

.shadow {
  box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.3);
}

.muliple-body {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.add-left {
  margin-left: 21px;
}
